<!doctype html>
<html lang="en">
<title>Login - Imagine Online Community College</title>

<body>
<div class="card mx-auto" style="width:45%;">
  <div class="card-header"><h4>Login</h4>
  </div>

  <div class="card-body">
    <form class="form-center" action="/login" method="POST">
            
      <label for="username">Username</label>
        <input type="username" class="form-control" id="username" aria-describedby="usernamehelp" placeholder="Enter username" name="username">
          <small id="usernamehelp" class="form-text text-muted">Must be minimum 8 characters</small><br>
     
      <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          <small id="emailhelp" class="form-text text-muted">instructors please use @iocc.staff.edu emails</small><br>

      <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
          <small id="passwordhelp" class="form-text text-muted">Please remember your password</small>

      <br><button type="submit" class="btn btn-primary" value="submit">Submit</button>
    
    </form>
  </div>
</div>

</body>
</html>