<!doctype html>
<html lang="en">
  <head>
    <title>Imagine Online Community College</title>

  <body>
    <br>
    <div class="jumbotron mx-auto" style="width:50%;">
      <h1 class="display-4">Enroll Today!</h1>
        <p class="lead">Here at IOCC we believe in offering students the most on demand courses to reach their educational goals. Our instructors are vetted professionals with decades of experience between them. What would you like to learn today?</p>

        <a class="btn btn-primary btn-lg float-right" href="/signup" role="button">Sign Up</a>
    </div>

</body>
</html>